{% load static %}
<head>
    <title>Extended Date Time Format Levels 0, 1 and 2 Validation Service</title>
    <div id="header">
        <h1>            
            Extended Date Time Format Levels 0, 1 and 2 Validation Service
        </h1>
    </div>
<script type="text/javascript" src="{% static 'edtf/jquery-1.8.2.js' %}"></script>
<script type="text/javascript" src="{% static 'edtf/jquery.validate.js' %}"></script>
<!-- the following script contains all the validation rules for the form -->
<script type="text/javascript" src="{% static 'edtf/date.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'edtf/style.css' %}">
</head>
<body>

{% if maintenance_message %}
<div class="alert">
     <strong>{{ maintenance_message }}</strong>
</div>
{% endif %}

<!-- simple introduction of EDTF -->
To determine whether a date conforms to the <a href="https://www.loc.gov/standards/datetime/">Extended Date Time Format Level 0-2</a>, enter it into the field below and click "Submit". A level 0 EDTF string can be comprised of 1 of 3 features (Date, Date Time, or Interval). A level 1 EDTF string consists of the same features, but may incorportate uncertainty, approximations, and unspecified dates. Level 1 may also feature years with more than 4 digits, and/or seasons. Additionally, level 2 includes partial uncertain/approximate and partial unspecified dates. Level 2 also features multiple dates as lists, extended intervals, exponential and scientific notation for 'big' years. The result of this form will be either 'Valid EDTF date' or 'Invalid EDTF date'.<br>

<p align=left>Here are some examples using <a class="reference external" href="http://www.cs.sunysb.edu/documentation/curl/index.html">curl</a>:</p>

<!--BEGIN CODE MARKUP-->
<div id="highlight-python">
    <pre align=left>
$ curl -L http://{{ request.get_host }}/edtf/isValid.json?date=2012-01
{
    "validEDTF": true,
}

$ curl -L http://{{ request.get_host }}/edtf/isValid.json?date=2012Jan
{
    "validEDTF": false,
}

$ curl -L "http://{{ request.get_host }}/edtf/isValid.json?date=1234&callback=foo"
foo({
    "validEDTF": true,
})

$ curl -L "http://{{ request.get_host }}/edtf/isValid.json?date=1985-01-13&levelFeature=0"
{
    "validEDTF": true,
}

$ curl -L "http://{{ request.get_host }}/edtf/isValid.json?date=1985-01-13&levelConforms=1"
{
    "validEDTF": true,
}
    </pre>
</div>

<!--BEGIN FORM-->
<form id="edtfform" autocomplete="off" action="">{% csrf_token %}
    <fieldset>
        <!--
	<input type="checkbox" name="level" value="0" checked>Level 0
	<input type="checkbox" name="level" value="1" checked>Level 1
        <input type="checkbox" name="level" value="2" checked>Level 2
	-->
        <label for="date">Date:</label>
	<input type="text" name="date" id="date" />
	<input type="submit" name="submit" id="submit" value="Submit" />
    </fieldset>
</form>


<!--BEGIN PARAMETERS-->
<h4>Parameters</h4>
<b>date</b>: <i>Required</i> - the text respresentation of the date you want to verify.<br>
<b>callback</b>: <i>Optional</i> - the text represenation of the jsonp callback wrapper.<br>
<b>levelFeature</b>: <i>Optional</i> - the level at which you would like the given date checked for being a feature of.<br>
<b>levelConforms</b>: <i>Optional</i> - the level at which you would like the given date validated against.<br><br>
Note: The optional parameters `levelFeature` and `levelConforms` are mutually exclusive, and if neither of them is given, the date will be validated against the full EDTF specification.
<h4>Return Value</h4>
On success, a <a href="http://en.wikipedia.org/wiki/List_of_HTTP_status_codes#2xx_Success">200 OK</a> response will be returned containing a JSON object that looks like this:
<div class="highlight-python">
    <pre align=left>
{
    "validEDTF": true
}
    </pre>
</div>
... or if a callback is provided:
<div class="highlight-python">
    <pre align=left>
callback-value({
    "validEDTF": true
})
    </pre>
</div>


<h4>Errors</h4>
A <a href="http://en.wikipedia.org/wiki/List_of_HTTP_status_codes#4xx_Client_Error">400 Bad Request</a> response will be return under the following conditions:
<ul>
    <li>no value for date is provided</li>
    <li>a value less than zero or greater that 2 is provided for the level</li>
</ul>

<div id="hosting">
    
Hosted by the <a href="http://www.library.unt.edu">University of North Texas Libraries</a>
   
</div>

</body>
